body {
  background-color: #ddd;
}

label .form-control {
  font-weight: normal;
}

.centred-container {
  width: 90%;
  margin: 0 auto;
  display: block;
}

.developed-by {
  text-align: center;
  font-size: 0.9em;
}

.main-container {
  background-color: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px #222;
}

.game-container {
  margin: 0 -10px;
}

.game-board-container {
  padding: 0 10px;
}

.game-board-container {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 10px;
}

.game-board-container>h3 {
  margin: 0;
}

.play-controller>span { display: none; }
.play-controller.play>.play { display: inline; }
.play-controller.pause>.pause { display: inline; }

.game-board {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  height: 290px;
}

.game-board>.column-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  position: relative;
  width: 33%;
  height: 100%;

  cursor: pointer;
}

.column-container>.column {
  display: flex;
  flex-flow: column wrap;

  width: 100%;
}

.column>.tile {
  z-index: 2000;
  margin: 0 auto;
  border-radius: 10px;
  height: 25px;
  display: block;
  box-shadow: 0px 1px 2px #222;
}

.column>.tile.active {
  z-index: 1000;
  align-self: center;
  position: absolute;
  margin-top: -25px;
  top: initial;
}

.column>.tile.active.animating {
  z-index: 3000;
}

.column-container>.tile-base {
  display: block;
  width: 100%;
  height: 15px;
  background-color: SaddleBrown;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  box-shadow: 0px 0px 1px #222;
}

.column-container>.shortcut {
  text-align: center;
  font-size: 1.25em;
}

.game-setup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.setup-selection-container {
  display: flex;
  float: none;
  position: relative;
}

.setup-selection-container>button.close {
  position: absolute;
  right: 22px;
  top: 2px;
}

.setup-selection-container>.player-setup, .setup-selection-container>.add-new-player-box {
  border: 2px dashed #31708f;
  padding: 20px;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.setup-selection-container hr {
  margin: 10px -22px;
  border-top: 2px dashed #31708f;
}

.add-new-player-box {
  opacity: 0.25;
  cursor: pointer;
}

.add-new-player-box:hover {
  opacity: 1;
}

.add-new-player-helper-text {
  text-align: center;
  font-weight: bold;
  margin: 15px 0;
}

.add-new-player-plus-sign {
  border-radius: 50%;
  border: 1px solid #ccc;
  width: 60px;
  height: 60px;
  font-size: 30px;
  padding-top: 10px;
  padding-left: 16px;
  margin: 0 auto;

  background-color: #eee;
  box-shadow: inset 1px 1px 0px #fff;

  text-shadow: -1px -1px 0px #fff;
}

.setup-selection-container>.player-setup label.shortcut-definition {
  margin-bottom: 0;
}

.setup-selection-container>.player-setup label.shortcut-definition>input {
  text-align: center;
}

.tile.tile-1 { width: 15%; background-color: Crimson; }
.tile.tile-2 { width: 25%; background-color: DarkGreen; }
.tile.tile-3 { width: 35%; background-color: DarkBlue; }
.tile.tile-4 { width: 45%; background-color: DarkGoldenRod; }
.tile.tile-5 { width: 55%; background-color: Indigo; }
.tile.tile-6 { width: 65%; background-color: DarkMagenta; }
.tile.tile-7 { width: 75%; background-color: LimeGreen; }
.tile.tile-8 { width: 85%; background-color: OliveDrab; }
.tile.tile-9 { width: 95%; background-color: OrangeRed; }

@media (max-width: 375px) {
  .developed-by>.developers-name {
    display: block;
  }
}

@media (max-width: 667px) {
  body {
    background-color: #fff;
  }

  .centred-container {
    width: 100%;
  }

  .main-container {
    border-radius: 0px;
    box-shadow: none;
  }
}

@media (min-width: 992px) {
  .middle-md {
    margin-top: 18px;
  }
}